body{
    background-repeat:no-repeat;
    background-size:cover;   

}

header{
    color: white;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color:blue;
}

.row{
    border: 0;
    border-radius: 20px;
    margin-top: 1em;
}

section{
    border-style: dashed;
    padding: 1em;
    margin: 1em;
    border-radius: 20px;
    border-color:blue;
    background-color:skyblue;
} 

table, th, td {
    border: 1px groove black;
  }


  aside{

  }

  #image_1{
    padding: 2em;
    margin: 1em;    
}
#imgshape{
    border-radius: 50%;
}

footer{
    color: blue;
}

#ft{
    color:whitesmoke;
}

.form1{
    background-color:lightgrey;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 4em;
}
input,textarea{
    width: 100%;
    padding: 1em;
    border-style: solid;
    border-color:darkgrey;
}

#submit{
    width:20%;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: green;
    color:skyblue;
    border-radius: 10px;
}

#teststyle{
color: blue;

}
